body {
  background: #101826;
  margin: 0;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;  /* Instead of 900px */
  margin: auto;
  padding: 20px;
  text-align: center;
}



.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.search {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 16px;
}

.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center; /* centers grid */
}


.card {
  background: #1d293a;
  padding: 15px;
  border-radius: 10px;
}

.card h2 {
  margin: 5px 0;
  font-size: 20px;
}

.btn {
  padding: 7px 12px;
  background: #007bff;
  color: #fff;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.btn:hover {
  background: #005ccc;
}

.details {
  margin-top: 10px;
  background: #0c1624;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
}
